.container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.list {
  text-align: left;
  padding-left: 70px;
}

.padding {
  padding: 50px 100px;
  text-align: left;
}

* {
  color: slategrey;
  font-family: 'Questrial', sans-serif;
}

form {
  padding-left: 100px;
}

.spacing {
  padding: 100px;
}


/*INDEX PAGE*/

.nav_bar ul li {
  display: inline;
  float: left;
}

.nav_bar a:link {
  text-decoration: none;
  display: block;
  width: 100px;
}


.page_options {
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.page_options form {
  display:inline;
}

/*browse*/
.list {
  display: inline-block;
}

.search_randomize_bar {
  text-align: center;
  padding-bottom: 50px;
}

input {
  line-height: 3em;
}

