/** {
  border: 2px solid black;
}
*/.container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.sub_container {
  padding-top: 50px;
  margin-left: 500px;
}

.list {
  text-align: left;
  padding-left: 70px;
  padding-top: 50px;
}

.padding {
  padding: 50px 100px;
  text-align: left;
}

* {
  color: slategrey;
  font-family: 'Questrial', sans-serif;
}

form {
  padding-bottom: 20px;
}

.spacing {
  padding: 100px;
}


/*INDEX PAGE*/

.welcome {
/*  margin-left: auto;
  margin-right: auto;*/
  text-align: center;
}

.nav_bar {
  display: inline-block;
}
.nav_bar a {
  color: rgb(164, 41, 44);
}

.nav_bar ul li {
  display: inline;
  float: left;
}

.nav_bar a:link {
  text-decoration: none;
  display: block;
  width: 100px;
}


.page_options {
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.page_options form {
  display:inline;
}

.logo_pic {
  margin:auto;
}

.welcome h1 {
  font-size: 4em;
  color: rgb(164, 41, 44);
}

.welcome h2 {
  font-size: 2em;
}



/*browse*/
.browse_list {
  display: inline-block;
}

.search_randomize_bar {
  text-align: center;
  padding-bottom: 50px;
}

input {
  line-height: 2em;
}


/*profile*/
.attribute_list {
  padding-top: 100px;
  padding-bottom: 50px;
}

.attribute_list ul li{
  display: block;
}

.attribute_list img {
  width: 20px;
}



