* {
  color: slategrey;
  font-family: 'Questrial', sans-serif;
}

/*----------index-------------*/

.text-centered {
  text-align: center;
}

.playground_section .drag-dog-container {
  float: left;
}

.container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}


.sub_container {
  padding-top: 50px;
  width: 23%;
  margin: auto;
  position: absolute;
  margin-top: 50%;
  left: 50%;
  margin-left: -260px;
  text-align: center;
  width: 520px;
}

.sub_container p {
  font-size: 22px;
}

.blacken {
    /* background: black; */

    /* opacity: .7; */
    z-index: 5;
    position: absolute;
    width: 100%;
    /* height: 100%; */
}

/*------------INDEX PAGE------------*/
.adopt_line {
  font-size: 43px;
}

.padding {
  padding: 50px 100px;
  text-align: left;
}


form {
  padding-bottom: 20px;
}

.spacing {
  padding: 100px;
}



.welcome {
/*  margin-left: auto;
  margin-right: auto;*/
  text-align: center;
  position: relative;
}

img.banner_pic {
  width: 100%;
  z-index: 0;
  position: absolute;
}

.banner_section {
  position: absolute;
  z-index: 1;
  width: 36em;
  margin: auto;
  margin-top: 100px;
  display: inline-grid;
  left: 50%;
  margin-left: -18em;
  text-align: center;
  height: 206px;
}

.banner_section .tagline {
  /* position: absolute; */
  /* top: 300px; */
  /* left: 550px; */
  color: rgb(255, 249, 238);
  font-size: 35px;
  margin: 0 auto;
  /*padding-top: 30px;*/
  /* text-align: center; */

}

.banner_section a:link {
  text-decoration: none;
}

.banner_section .logo_text {
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
  color: #B02428;
  font-size: 89px;
  text-shadow: 1px 1px black;
}


.banner_section .banner_pic {
  position: absolute;
  top: 50px;

}

.welcome p {
  font-size: 20px;
}

.nav_bar {
  display: inline-block;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 8;
  padding-bottom: 25px;
}

.nav_bar a {
  color: rgb(185, 29, 32);
}

.nav_bar ul li {
  display: inline;
  float: left;
}

.nav_bar a:link {
  text-decoration: none;
  display: block;
  width: 100px;
}

.search_container {
  width: 80%;
  margin-right: 189px;
  padding-top: 100px;
  padding-left: 100px;

}


#search_spot {
  text-align: center;
  width: 270px;
  margin-left: 70px;
  line-height: 2em;
  border-radius: 25px;
  margin-bottom: 20px;
  margin-top: 30px;
  outline: none;
  /* position: absolute; */
  /* top: 400px; */
}

/*------------forms/buttons------------*/
.sub_container button {
  width: 345px;
}

.submit_button {
/*  margin-left: 150px;*/
  margin-top: 10px;
}

input {
  margin-top: 10px;
}

.login_section {
  margin-top: 100px;
}

.register_section {
  margin-top: 20px;
  margin-bottom: 200px;
}


.page_options {
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.page_options form {
  display:inline;
}

.logo_pic {
  margin:auto;
}

.welcome h1 {
  font-size: 4em;
  color: rgb(185, 29, 32);
}

.welcome h2 {
  font-size: 2em;
}



/*------------browse------------*/

.browse_container {
  clear: both;
}

.browse_list {
  display: inline-block;
  margin-top: 436px;
  float:left;
  width: 100%
}

.clear {
  clear: both;
}
.search_randomize_bar {
  text-align: center;
  padding-bottom: 50px;
  position: fixed;
  top: 30px;
}

input {
  line-height: 2em;
}

.left_column {
  height: 270px;
  width: 33%;
  float: left;
}

.center_column {
  height: 270px;
  width: 33%;
  display: inline-block;
}

.right_column {
  height: 270px;
  width: 34%;
  float: right;
}


.browse_dog_pic {
  height: 315px;
  max-width: 250px;
  border-radius: 5px;
  overflow: hidden;
}

.row {
  margin-top: 35px;
}

/*.overlay {
  background:rgba(0,0,0,.75);
  text-align:center;
  padding:45px 0 200px 0;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}*/

.overlay {
  text-align: center;
}

.left_column:hover .overlay {
  opacity:1;
}

.dog_info {
  color: red;
  font-size: 10px;
}

p.dog_info2 {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
 /* display: table;*/
  height: 190px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

img:hover p.dog_info2 {
  opacity: 1;
}




.playground_section {
  height: 370px;
  position: fixed;
  width: 100%;
  top: 56px;
/*  margin-top: 20px;*/
/*  background-image: url("../imgs/playground.jpg");
  background-size: 68%;
  background-repeat: repeat;*/
  background: rgb(242, 242, 242);
  float:left;
  clear:left;
  padding-left: 92px;
}

.playground_section h2 {
  margin-top: 65px;
}

.favorite-button {
  display: none;
  height: 20px;
  font-size: 15px;
  margin-bottom: 16px;
}

#hide_show {
  float: left;
  position: fixed;
  top: 77px; /*- was top: 410; Adell*/
  z-index: 5; /*line added by Adell*/
  left: 5px;
  margin-bottom: 10px;
  padding-left: 85px;
}

#hide_show button {
  height: 20px;
  font-size: 15px;
}

/*------------profile------------*/
.list {
  margin: auto;
  text-align: left;
  padding-top: 60px;
}

.profile_panel {
  margin: auto;
  background: rgb(242, 242, 242);
  display: flex;
}

/*.profile_panel img {
  max-width: 250px;
  max-height: 350px;
}
*/
.profile_panel p {
  font-size: 25px;
}

.bio {
  margin-right: 150px;
  margin-top: 101px;
  float:left;
}

.words {
  font-size: 17px;
}

.description {
/*  width: 90%;*/
  margin: auto;
  margin-left: 0px;
  margin-top: 40px;
}

.description a:link {
  text-decoration: none;
}

#fdr_button {
  padding: 14px 64px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: white;
  border: 0;
  font-size: 13px;
  border-radius: 5;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -1px #B1B1AE;
  transition: all 0.3s ease 0s;
}

#fdr_button a:link {
  text-decoration: none;
}

#fdr_button:hover {
  background: #B02428;
  color: white !important;
}

.dog_name {
  font-size: 60px;
  font-weight: bolder;
  text-shadow: 1px 1px lightgrey;
}

/*------------profile: ratings ------------*/


.attribute_list {
  width: 100%;
  text-align: center;
  padding-bottom: 250px;
}

.affectionate {
  background: #E8A0B8;
  height: 142px;
  width: 14.2%;
  float: left;
}

.independent {
  background: #FFC300;
  height: 142px;
  width: 14.2%;
  float: left;
}

.playful{
  background: #BCCF3D;
  height: 142px;
  width: 14.2%;
  float: left;
}

.timid {
  background: #32DEDE;
  height: 142px;
  width: 14.2%;
  float: left;
}

.good_with_kids {
  background: #A8AAE0;
  height: 142px;
  width: 14.8%;
  float: left;
}

.high_energy {
  background: rgb(237, 87, 87);
  height: 142px;
  width: 14.2%;
  float: left;
}

.chill {
  background: #1AC6AE;
  height: 142px;
  width: 14.2%;
  float: left;
}

.attr_header {
  font-size: 25px;
  color: white;
  font-weight: bolder;
  padding-top: 2px;
}

.large_number {
  font-size: 57px;
}

/*------------profile: comments/videos section ------------*/

.comments_section {
  margin-top: 100px;
  margin: auto;
  width: 90%;
}

.comments_section p {
  color: white !important;
}

.share_feed {
  clear: both;
  padding-top: 50px;
  margin: auto;
  width: 90%;
}

.no_comments {
  font-color: slategrey;
}

.bubble {
/*position: relative;*/
float: left;
display:inline;
width: 315px;
height: 70px;
padding: 0px;
background: slategrey;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
margin-right: 15px;
margin-bottom: 20px;
padding: 10px;
text-align: center;

}


/*------------profile: rate form ------------*/


.rate_section {
/*  float:left;*/
/*  margin-top: 370px;*/
/*  margin-bottom: 100px;*/
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.rate_section button {
  margin-top: 50px;
  width: 503px;
}

.rate_section #rate_submit_button {
  margin-top: 50px;
  width: 200px;
  height: 30px;
}

.rate_section form {
  padding-left: 25px;
  padding-right: 10px;
  border: 1px solid slategrey;
  width: 465px;
  background: #F2F2F2;
}

form #video_link {
  width: 300px;
  margin-bottom:15px;
}

form #comment_field {
  width: 445px;
  height: 91px;
  margin-top: 18px;
}

.rate_section #comment_label {
  display: table-cell;
  vertical-align: middle;
  margin-top: 18px;
}

.rate_section textarea {
  /*float: right;*/
  display: inline;
}



