<% if logged_in? %>
<div class="welcome">

 <!--  <img src="./imgs/redballlogo.png" width="200px" />
 <h1>red ball</h1> -->
 <img src="http://image10.photobiz.com/4773/37_20130731095359_816837_large.jpg" class="banner_pic"/>

 <h2>adopt a new friend today!</h2>
 <p>see what our volunteers have to say about the wonderful dogs available for adoption and foster.</p>

 <h3 style="padding-top:50px">You are now logged in.</h3>

</div>

<% else %>
<div class="welcome">
  <img src="http://image10.photobiz.com/4773/37_20130731095359_816837_large.jpg" class="banner_pic"/>
  <div class="banner_section">
    <img src="./imgs/redballlogo.png" width="200px" class="logo_pic" />
    <h1 class="logo_text">red &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ball</h1>
    <h2 class="tagline">let's play</h2>
  </div>

<!--     <img src="./imgs/redballlogo.png" width="200px" class="logo_pic"/>
  <h1>red ball</h1> -->

  <h2>adopt a new friend today!</h2>
  <p>see what our volunteers have to say about the wonderful dogs available for adoption and foster.</p>

 <!--    <div class="page_options">
      <form method="link" action="/login/admin">
        <input type="submit" value="sign in as an admin">
      </form>

      <form method="link" action="/login">
        <input type="submit" value="sign in as a volunteer">
      </form>

      <form method="link" action="/register">
        <input type="submit" value="register as a new volunteer">
      </form>

      <form method="link" action="/browse">
        <input type="submit" value="browse as a guest">
      </form>
    </div> -->
  </div>


  <div class="login_section">
    <h2>Log In</h2>
    <form action="/login" method="post">
      <input type='text' name='username' placeholder='username'>
      <input type='password' name='password' placeholder='password'>
      <input type='submit' value='submit'>
    </form>


    <% if @error %>
      <p>Username or password is incorrect.</p>
    <% end %>

    <a href='/register'>New User? Register here!</a>


  </div>



  <div class="sub_container">

  <h2>Register as a New User</h2>
  <form action="/register" method="post">
    <input type='text' name='name' placeholder="name">
    <input type='text' name='email' placeholder="email">
    <input type='text' name='username' placeholder="username">
    <input type='password' name='password' placeholder="password">
    <input type='submit' value='submit'>
  </form>

  <%= @invalid_error %>
</div>

<div class="sub_container">
<h2>What type of dog are you looking for?</h2>
<form action="/search/results" method="get">
  <input type='text' name='breed' placeholder="  type of breed" size="45">
  <input type='submit' value='submit' style="visibility: hidden;">
</form>
</div>


  <% end %>
