<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>P10 Challenge</title>
</head>
<body>

  <div class ="nav_bar">
    <ul>
      <li><a href="/">red ball</a> </li>
      <li><a href="/search">search</a></li>
      <li><a href="/browse">browse</a></li>
      <li><a href="#">about us</a></li>
      <li><a href="#">contact us</a></li>
    </ul>
  </div>


  <div class="banner">
    <h1>P10 Challenge</h1>
  </div>
  <%= yield %>
  <div class="spacing"></div>
  </div>

</body>
</html>
