<div class="sub_container">

<form action="/login" method="post">
  <input type='text' name='username' placeholder='username'>
  <input type='password' name='password' placeholder='password'>
  <input type='submit' value='submit'>
</form>


<% if @error %>
<p><%= @error %></p>
<% end %>

<a href='/register'>New User? Register here!</class>


</div>
