<div class="sub_container">

  <h2>What would you like to do? </h2>
  <p><a href='/dogs/new'>Create a dog's profile</a></p>


  <p>Which dog's profile would you like to pull up?</p>

  <form action="/options" method="post">
    <input type='text' name='id' placeholder='Enter ID#'>

    <input type='submit' value='submit'>
  </form>

  <% @all_dogs.each do |dog| %>
  <p>ID #<%= dog.id %>: <%= dog.name %> </p>
  <% end %>

</div>



