
<h2>What type of dog are you looking for?</h2>
<form action="/search/results" method="get">
  <input type='text' name='breed' placeholder="  type of breed" size="45">
  <input type='submit' value='submit'>
</form>



