<div class="search_container">


  <form action="/search" method="post" id="search_form">
    <input type='text' name='breed' placeholder="  type of breed" size="45">
    <button id="add" type="submit">Search</button>
  </form>

<div class="search_section">


</div>

<% if @breed_list.length > 0 %>
  <p>testing, the breed_list length is > 0 </p>
    <% @breed_list.each do |dog| %>
    <%= dog.name  %>
    <% end %>

<% else %>
  <div class="error_search">
    <span class="error_red"><%= @no_breed %></class>
    <p>try our <a href='/randomize'>randomize option </a>and see what you get!</p>
  </div>
<% end %>


</div>
