<div class="search_container">


  <form action="/search/results" method="get">
    <label for='breed'>What type of breed are you looking for?</label><br>
    <input type='text' name='breed' placeholder="Breed" size="45">
    <input type='submit' value='submit'>
  </form>


</div>
